@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Serif:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Orbitron:wght@400..900&family=Roboto+Flex:opsz,wght@8..144,100..1000&display=swap');

*{
    background-color: #EFEEEA;
    color: #273F4F;
    font-family: "Montserrat", sans-serif;
    margin: 0;
}

/* Header (Title & Nav) */
header{
    text-align: center;
    color: #273F4F;
}
h1{
    margin: 0.67em;
}
p{
    margin: 0;
}
/* Navbar */
nav{
    margin-top: 0.67em;
    margin-bottom: 0.67em;
    display: flex;
    flex-direction: column;
}
a{
    padding: 10px;
    color: #273F4F;
    text-decoration: none;
}
a:hover{
    color: #EFEEEA;
    background-color: #273F4F;
}

/* Sub-Header */
.titleinfo{
    padding: 32px;
    text-align: center;
    font-size: 1.5em;
    background-color: #273F4F;
    color: #EFEEEA;
    font-weight: bold;
}
/* Section Overall */
section{
    margin: 8px;
}
/* Section Luas/Keliling */
.luas_keliling{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    margin-bottom: 16px;
}

/* Test Kerapian Area */
/* .info,.calculation{
    border: 1px solid black;
} */
 
/* Bagian Ilustrasi Geometrik */
.Spicture{
    background-image: url(/assets/segitiga.png);
    background-size: 200px;
    background-repeat: no-repeat;
    background-position: center;
    height: 200px;
}
.Jpicture{
    background-image: url(/assets/jajargenjang.png);
    background-size: 200px;
    background-repeat: no-repeat;
    background-position: center;
    height: 200px;
}
/* Bagian Rumus Geometris */
.stateFormula{
    text-align: center;
    font-weight: bold;
    margin-top: 0.33em;
    margin-bottom: 0.33em;
}
/* Section Calculation */
.calculation{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
/* Sub-Title Hitung Luas/Keliling */
.titleinput{
    font-weight: bold;
    font-size: 1.25em;
    text-align: center;
    padding: 48px;
}
/* Bagian Form */
form{
    display: flex;
    flex-direction: column;
    row-gap: 8px;
}
/* Form Text */
input[type=number]{
    box-sizing: border-box;
    width: 100%;
    border: 1px solid #273F4F;
    border-radius: 6px;
}
/* Form Submit */
button{
    color: #EFEEEA;
    background-color: #FE7743;
    border: 1px solid #FE7743;
    padding: 10px;
    border-radius: 6px;
}
button:hover{
    cursor: pointer;
    border: 1px solid #FE7743;
    background-color: #EFEEEA;
    color: #FE7743;
}
.submit{
    align-self: flex-end;
}

/* Footer */
footer{
    vertical-align: middle;
    text-align: center;
    padding: 8px;
    border-top: 1px solid #273F4F;
}

/* Tablet & Mobile */
@media (max-width: 1200px) {
    .luas_keliling{
        display: grid;
        grid-template-columns: 1fr;
    }
    .titleinput{
    padding: 16px;
    }
}